body {
  font-family: 'Montserrat', sans-serif;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

header img {
  height: 50px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #4a6cff;
}
